.gear-icon 
{
  background-image: url('gear.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none; 
  background-color: transparent;
  width: 18px;
  height: 18px;
}

.arrow-left-icon 
{
  background-image: url('arrow-left.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none; 
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin-left: 8px;
}

.close-icon 
{
  background-image: url('close.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none; 
  background-color: transparent;
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.refresh-icon 
{
  background-image: url('refresh.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none; 
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin-left: 8px;
}

.toolbarbutton-position
{
  display: inline-block;
  vertical-align: middle;
}
