/* ///////////////////////////////////////////////////// */
.privacy-content
{
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.privacy-content h4 
{
  font-weight: bold;
}

/* ///////////////////////////////////////////////////// */