/* ///////////////////////////////////////////////////// */

#minutes-value, #minutes-title, #seconds-title, #seconds-value
{
  padding-top: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

/* ///////////////////////////////////////////////////// */